body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.page-home,
.page-cart,
.backbone-content {
	padding-top: 20px;
}

.article-list {
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	display: inline-block;
}

	.article-list .article-item {
		text-align: center;
		margin: 10px 5px;
		width: 220px;
		height: 200px;
		float: left;
		background: #eee;
	}

.bar-notification {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

	.bar-notification.success {
		background: none repeat scroll 0 0 cadetblue;
		color: #FFFFFF;
		margin: 0 0 10px;
	}

	.bar-notification.error {
		background: none repeat scroll 0 0 indianred;
		color: #FFFFFF;
		margin: 0 0 10px;
	}

	.bar-notification .close {
		float: right;
		margin: 9px 9px 0 0;
		cursor: pointer;
	}

	.bar-notification p.content {
		padding: 10px;
	}

		.bar-notification p.content a {
			text-decoration: underline;
			color: #FFFFFF;
		}

			.bar-notification p.content a:hover {
				text-decoration: none;
				color: #FFFFFF;
			}

.navbar-cart {
	float: right;
	color: #999999;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	margin-right: 15px;
}

.cart-items table {
	width: 100%;
}

	.cart-items table tr {
		border-bottom: 1px solid #eee;
	}

	.cart-items table td {
		padding: 5px 0;
	}

.cart-summary {
	display: inline-block;
	width: 100%;
}

	.cart-summary .cart-totalize {
		float: right;
	}

.page-cart .cell-price {
	width: 100px;
	text-align: right;
}

.overview-bottom {
	background-color: #eef1f5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 39px;
}

	.overview-bottom .pagination {
		height: 32px;
		text-align: center;
	}

		.overview-bottom .pagination ul {
			display: inline-block;
			*display: inline;
			margin: 0;
			*zoom: 1;
		}

			.overview-bottom .pagination ul > li {
				display: inline;
			}

				.overview-bottom .pagination ul > li > span {
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					float: left;
					margin: 0 5px;
					text-align: center;
					list-style: none;
				}

			.overview-bottom .pagination ul > .active > span {
				width: auto;
				min-width: 30px;
				height: 30px;
				max-height: 30px;
				line-height: 32px;
				background-color: white;
				-moz-box-shadow: 0 3px 0 #c0c8cf;
				-webkit-box-shadow: 0 3px 0 #c0c8cf;
				box-shadow: 0 3px 0 #c0c8cf;
				cursor: pointer;
			}

				.overview-bottom .pagination ul > .active > span:hover {
					background-color: #808D96;
					color: white;
				}

			.overview-bottom .pagination ul > .page > span {
				cursor: pointer;
			}

				.overview-bottom .pagination ul > .page > span:hover {
					background-color: #808D96;
					color: white;
				}

			.overview-bottom .pagination ul > .ellipse-page > span {
				margin: 0;
			}

			.overview-bottom .pagination ul > .disabled > span {
				width: auto;
				min-width: 30px;
				height: 30px;
				max-height: 30px;
				line-height: 32px;
				cursor: default;
				background-color: #dee4ec;
			}

			.overview-bottom .pagination ul > .current-page > span {
				background-color: #808D96;
				color: white;
			}

			.overview-bottom .pagination ul > .page > span,
			.overview-bottom .pagination ul > .page > span:hover,
			.overview-bottom .pagination ul > .current-page > span {
				width: auto;
				height: 27px;
				min-width: 27px;
				max-height: 27px;
				line-height: 27px;
				margin: 3px 5px;
			}

			.overview-bottom .pagination ul > .text > span {
				padding: 0 10px;
			}

			.overview-bottom .pagination ul > .next-page > span {
				margin: 0 0 0 5px;
			}
