body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.page-home,
.page-cart {
	padding-top: 20px;
}

.article-list {
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	display: inline-block;
}

	.article-list .article-item {
		text-align: center;
		margin: 10px 5px;
		width: 220px;
		height: 200px;
		float: left;
		background: #eee;
	}

.bar-notification {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

	.bar-notification.success {
		background: none repeat scroll 0 0 cadetblue;
		color: #FFFFFF;
		margin: 0 0 10px;
	}

	.bar-notification.error {
		background: none repeat scroll 0 0 indianred;
		color: #FFFFFF;
		margin: 0 0 10px;
	}

	.bar-notification .close {
		float: right;
		margin: 9px 9px 0 0;
		cursor: pointer;
	}

	.bar-notification p.content {
		padding: 10px;
	}

		.bar-notification p.content a {
			text-decoration: underline;
			color: #FFFFFF;
		}

			.bar-notification p.content a:hover {
				text-decoration: none;
				color: #FFFFFF;
			}

.navbar-cart {
	float: right;
	color: #999999;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	margin-right: 15px;
}

.cart-items table {
	width: 100%;
}

	.cart-items table tr {
		border-bottom: 1px solid #eee;
	}

	.cart-items table td {
		padding: 5px 0;
	}

.cart-summary {
	display: inline-block;
	width: 100%;
}

	.cart-summary .cart-totalize {
		float: right;
	}

.page-cart .cell-price {
	width: 100px;
	text-align: right;
}
